<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <section id="rechner">
        <h1> FITTASTE KALORIENRECHNER</h1>

        <form action="/rechner" method="POST">
            <div>
                <img src="" alt="">
                <h3>GESCHLECHT</h3>
            </div>
            <input type="radio" id="" name="sex" value="weiblich" <%= sex=="weiblich"? 'checked':'' %> >
            <label for=""> Weiblich</label><br>
            <input type="radio" id="" name="sex" value="männlich" <%= sex=="männlich"? 'checked':'' %> >
            <label for=""> Männlich</label><br>
            <div>
                <img src="" alt="">
                <h3>PERSÖNLICHE INFORMATIONEN</h3>
            </div>
            <div>
                <h3>Alter</h3>
                <input type="text" name="age" id="" placeholder="<%= age %>"> 
                <h3>Körpergrösse</h3>
                <input type="text" name="size" id="" placeholder="<%= size %>">
                <h3>Gewicht</h3>
                <input type="text" name="weight" id="" placeholder="<%= weight %>">
            </div>


            <div>
                <img src="" alt="">
                <h3>KÖRPERLICHE AKTIVITÄT</h3>
            </div>
            <input type="radio" id="" name="activity" value="1.20" <%= activity=="1.20"? 'checked':'' %>>
            <label for=""> kaum aktiv</label><br>
            <input type="radio" id="" name="activity" value="1.37" <%= activity=="1.37"? 'checked':'' %>>
            <label for=""> leicht aktiv</label><br>
            <input type="radio" id="" name="activity" value="1.55" <%= activity=="1.55"? 'checked':'' %>>
            <label for=""> aktiv</label><br>
            <input type="radio" id="" name="activity" value="1.72" <%= activity=="1.72"? 'checked':'' %>>
            <label for=""> sehr aktiv</label><br>
            <input type="radio" id="" name="activity" value="1.90" <%= activity=="1.90"? 'checked':'' %>>
            <label for=""> profi Sportler</label><br>

            <div>
                <img src="" alt="">
                <h3>TRAININGSZIEL</h3>
            </div>
            <input type="radio" id="" name="training" value="abnehmen" <%= training=="abnehmen"? 'checked':'' %>>
            <label for=""> Abnehmen</label><br>
            <input type="radio" id="" name="training" value="gewicht_halten" <%= training=="gewicht_halten"? 'checked':'' %>>
            <label for=""> Gewicht halten</label><br>
            <input type="radio" id="" name="training" value="muskelaufbau" <%= training=="muskelaufbau"? 'checked':'' %>>
            <label for=""> Muskelaufbau</label><br>



            <input type="submit" value="Jetzt Kalorienbedarf berechnen">
        </form>
        <article>
            <div class="ergebnis">
                <h1>DEIN ERGEBNIS</h1>
                <div>
                    <h3>DEIN KALORIENBEDARF</h3>
                    <p><%= need %> </p>
                    <h3>DEIN GRUNDUMSATZ</h3>
                    <p><%= rate %> </p>
                </div>
            </div>
            <div class="ergebnis">
                <h1>MAKRONÄHRSTOFFE</h1>
                <div>
                    <h3>KOHLENHYDRATE</h3>
                    <p><%= carbs %> </p>
                    <h3>EIWEISS</h3>
                    <p><%= protein %> </p>
                    <h3>FETT</h3>
                    <p><%= fat %> </p>
                </div>
            </div>

        </article>
    </section>

</body>

</html>

