<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Fit Meal</title>
</head>

<body>
    <%-include('./partials/header')%>
    <section class="EGerichte">
        <% meals.forEach(element => { %>
        <div class="EgerichteKategorien">
            <img class="EimgProducts" src="<%= element.image %>" alt="">
            <div class="Epreis">
                <h5><%= element.title %></h5>
                <h4><%= element.price %></h4>
            </div>
            <div class="EBorderBottom">
                <h1></h1>
                <h6>(€Inf/kg)</h6>
            </div>
            <article class="EwidthCal">
                <div class="werte">
                    <div class="calorie">
                        <p><%= element.calories %></p>
                        <p><%= element.protein %></p>
                        <p><%= element.carbs %></p>
                        <p><%= element.fat %></p>
                    </div>
                    <div class="Ecal">
                        <p>Cal/</p>
                        <p>Prot/</p>
                        <p>Carbs/</p>
                        <p>Fat</p>
                    </div>
                </div>
            </article>
            <div class="ESofort">
                <p>sofort Lieferbar</p>
                <div class="EWarenkorb">
                    <div class="buttons">
                        <button onclick="myOrderMinus()">-</button>
                        <input class="Epeople" type="number" name="number" id="number<%= index++%>">
                        <button onclick="myOrderPlus()">+</button>
                    </div>
                    <form action="/pay/<%= element._id %>" method="POST">
                        <input class="Warenkorb" type="submit" value="IN DEN WARENKORB">
                        </form>
                    </div>
            </div>
        </div>
        <% }) %>
    </section>
    <%-include('./partials/footer')%>

    <script>
        
        let value
        let amount

for (let i = 1; i < meals.length; i++) {

        `value${i}` = 0
        `amount${i}` = document.getElementById(`number${i}`)
        `amount${i}`.value = `value${i}`;

        function myOrderPlus() {
            `value{i}`++;
            `amount${i}`.value = `value${i}`;
            return `value${i}`
        }

        function myOrderMinus() {
            `value{i}`--;
            if (`value{i}`<=0) {
                `value{i}`=0
            }
            `amount${i}`.value = `value${i}`;
            return `value${i}`
        }
    
}
        // let value = 0
        // let amount = document.getElementById('number')
        // amount.value = value;

        // function myOrderPlus() {
        //     value++;
        //     amount.value = value;
        //     return value
        // }

        // function myOrderMinus() {
        //     value--;
        //     if (value<=0) {
        //         value=0
        //     }
        //     amount.value = value;
        //     return value
        // }

    </script>

</body>

</html>